.App {
}

.App-instructions {
  padding-left: 10%;
  padding-bottom: 14px;
}

.App-textArea {
  resize: none;

  font-family: monospace;
  font-size: inherit;
  color: inherit;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.App-entryArea {
  width: 50%;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.App-outputArea {
  width: 30%;
}

.App-totalsArea {
  width: 80%;
}

.App-colophon {
  padding-left: 10%;
  padding-top: 24px;
}